In [3]:
import pandas as pd

In [8]:
df = pd.DataFrame([[123], [23], [5]])

In [10]:
df.head()

     0
0  123
1   23
2    5

In [ ]:
a = 1

In [ ]:
a = 123 a;sjdf