In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('health_data.csv')
df

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
5        NaN           NaN       NaN              NaN         NaN          NaN
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
8       45.0           NaN        AF              NaN         8.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         12 non-null     float64
 1   Average_Pulse    11 non-null     object
 2   Max_Pulse        12 non-null     object
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       11 non-null     float64
 5   Hours_Sleep      12 non-null     float64
dtypes: float64(4), object(2)
memory usage: 756.0+ bytes

In [6]:
df.describe(include='object')

       Average_Pulse Max_Pulse
count             11        12
unique            11         6
top               80       130
freq               1         3

In [7]:
drug_df = pd.read_csv('drug_consumption_a1.csv')

drug_df

,ID,Age,Gender,Education,Country,Ethics,Column7,Column8,Column14,Column15,Column16,Column17
0,1,36,M,PD,0.96,0.13,0.31,-0.58,CL5,CL2,CL0,CL2
1,2,30,F,PhD,0.96,-0.32,-0.68,1.94,CL5,CL2,CL2,CL0
2,3,44,F,PD,0.96,-0.32,-0.47,0.81,CL6,CL0,CL0,CL0
3,4,20,M,Msc,0.96,-0.32,-0.15,-0.81,CL4,CL0,CL0,CL3
4,5,43,M,PhD,0.96,-0.32,0.74,-1.63,CL4,CL1,CL1,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...
994,998,25,F,Msc,0.96,-0.32,1.13,-0.30,CL6,CL0,CL2,CL5
995,999,32,M,PhD,-0.57,-0.32,-1.05,0.81,CL3,CL6,CL0,CL0
996,1000,21,F,CD,-0.57,-0.32,-0.68,0.48,CL4,CL3,CL3,CL2
997,1001,22,F,L21,-0.47,-0.32,1.23,-1.09,CL5,CL0,CL3,CL0
998,1002,20,F,CD,-0.57,-0.32,-0.05,0.96,CL5,CL6,CL1,CL5

In [8]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
bank_marketing = fetch_ucirepo(id=222) 
  
# data (as pandas dataframes) 
X = bank_marketing.data.features 
y = bank_marketing.data.targets 
  
# metadata 
print(bank_marketing.metadata) 
  
# variable information 
print(bank_marketing.variables)

ModuleNotFoundError: No module named 'ucimlrepo'